<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Mafia Web</title>



	<script src="http://code.jquery.com/jquery-latest.js"></script>

	<link rel="stylesheet" href="/css/login.css"/>

	-</head>

	<body>
		<div class="container">
			<div class="main">

				<h1>Mafia Web</h1>

				<table border="0">

					<tr>
						<td>
							<form id="form_id" method="post" action="/process/login" name="login">
								<input type="text" name="id" id="username" placeholder="input your id" />
								<input type="password" name="password" id="password" placeholder="password" />
								<input type="submit" value="전송" class="button" >
							</form>
						</td>
						<td>
							<!-- <a href="matching.html" onclick="log_in()" id="submit" type="submit" class="button">LogIn</a> -->
						</td>
					</tr>

					<tr>
						<td>
							<a href="#" onclick="google()" class="btngoo" style="width: 30px" >G</a>
							<a href="#" onclick="naver()" class="btnnav" style="width: 30px">N</a>
							<a href="#" onclick="kakao()" class="btnkao" style="width: 30px">K</a>
						</td>
					</tr>

					<tr>
						<td colspan="2">
							<hr>
						</td>
					</tr>

					<tr>
						<td>
							<form method="post" action="/process/register">
								<input type="text" name="id" id="username" placeholder="input your id" />
								<br>
								<input type="text" name="username" id="nickname" placeholder="nickname" />
								<br>
								<input type="password" name="password" id="password" placeholder="password" />
								<br>
								<!-- <input type="password" name="cpassword" id="cpassword" placeholder="confirm password" />								 -->
								<input type="submit" value="전송" >
							</form>

						</td>

						<td>
							<!-- <a href="#" id="submit" onclick="signup()" class="button"> SignUp</a> -->
						</td>
					</tr>

					<tr>
						<td>
							<a href="#" onclick="google()" class="btngoo" style="width: 30px" >G</a>
							<a href="#" onclick="naver()" class="btnnav" style="width: 30px">N</a>
							<a href="#" onclick="kakao()" class="btnkao" style="width: 30px">K</a>
						</td>
					</tr>

					<tr>
						<td colspan="2">
							<hr>
						</td>
					</tr>
				</table>
			</div>
		</div>



		<script launuage= 'javascript'>


			function log_in(){
				alert("로그인!");
			}

			function signup(){
				alert("회원가입!");
			}

			function google(){
				alert("구글!");
			}

			function naver(){
				alert("네이버!");
			}

			function kakao(){
				alert("카카오!");
			}

		</script>

	</body>

	</html>
