body {
	background: url("http://cfile227.uf.daum.net/image/26753236530FE98605F4C3") no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
	overflow: auto;
}

html, body{
	height: 100%;
}
.container{	
	background-color: rgba(255, 255, 255, 0.9);
	background-size: cover;
	background-attachment: fixed;
	display: inline-block;
	width: 100%;
}



.header {
	padding: 20px;
	margin-bottom: 3px;
	border: 1px solid #bcbcbc;
}

.chatting{
	width: 95%;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
	display: inline-block;
	overflow: auto;

}

.sidebar{
	width: 95%;	margin-right: 1%;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
	display: inline-block;
	overflow: auto;

}
.user_page{
	width: 95%;
	margin-left: 1%;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
	display: inline-block;
	overflow: auto;
}

.shop_page{
	width: 95%;
	margin-right: 1%;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
	position:static;
	display: inline-block;
	overflow: auto;
}

.shop_icon{
	float: left;
	text-align: center;
	text-decoration: none !important; 
	margin: 25px;
	position: static;

}

.shop_icon img{
	width: auto; 
	height: 90px;
	border-radius: 50%;
}

.table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px 10px;
	text-align: center;
	table-layout: fixed
	margin-left: auto;
	margin-right: auto;
}
.table th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
}
.table td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
}
.table .even {
	background: rgba(30, 22, 54, 0.4);
}

a:link { color:black; text-decoration: none;	background: rgba(30, 22, 54, 0.4);}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

@media (min-width: 768px) {
	.user_page{
		width: 48.5%;
		height: 88%;
		margin-left: 1%;
		margin-bottom: 20px;
		float: left;
		border: 1px solid #bcbcbc;
		position: absolute;
		display: inline-block;
		overflow: auto;
	}

	.shop_page{
		width: 48.5%;
		height: 88%;
		margin-right: 1%;
		margin-bottom: 20px;
		float: right;
		border: 1px solid #bcbcbc;
		position:static;
		display: inline-block;
		overflow: auto;
	}
	.container{
		height: 100%;
		display: inline-block;
	}
}