<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MySQL 로그인 테스트</title>
	</head>
<body>
	<h1>MySQL 회원가입</h1>
	<br>
	<form method="post" action="/temp/icon/icon_register">
		<table>
			<tr>
				<td><label>아이콘 id</label></td>
				<td><input type="text" name="id" ></td>
			</tr>
			<tr>
				<td><label>아이콘 이름</label></td>
				<td><input type="text" name="name" ></td>
			</tr>
			<tr>
				<td><label>src</label></td>
				<td><input type="text" name="src" ></td>
			</tr>
			<tr>
				<td><label>필요 point</label></td>
				<td><input type="text" name="point" ></td>
			</tr>
		</table>
		<input type="submit" value="전송" >
	</form>
</body>
</html>
